<div{{ attributes.addClass('jumpstart-ui--one-column', settings.centered, settings.extra_classes) }}>
    <section {{ region_attributes.main.addClass('main-region') }}>
      <a name="main-content" id="{{ getUniqueId('main-content') }}" tabindex="-1" class="visually-hidden focusable">{{ 'Main Content'|t }}</a>
      {{ content.main }}
    </section>
</div>
