<div{{ attributes.addClass('jumpstart-ui--two-column', 'flex-container', settings.centered, settings.extra_classes) }}>

  {% if content.left|render %}
    <div {{ region_attributes.left.addClass('left-region', 'flex-lg-3-of-12') }}>
      {{ content.left }}
    </div>
  {% endif %}

  {% if content.main|render %}
    <div {{ region_attributes.main.addClass('main-region', content.left|render  ? 'flex-lg-9-of-12' : '') }}>
      {{ content.main }}
    </div>
  {% endif %}

</div>
